@font-face {
    font-family: bodyText;
    src: url(./Poppins-Regular.ttf);
}
@font-face {
    font-family: titleText;
    src: url(./Poppins-SemiBold.ttf);
}
.background{
    overflow: hidden;
}
.canvas{
    position: absolute;
    transition: 3s;
    left: -1254px;
    top: -116px;
    z-index: -10;
}
.airplane{
    position: absolute;
    left:46%;
    top:43%;
    width: 100px;
    height: 100px;
    transition: 1s;
    z-index: 10;
}
.airplane-flying{
    position: absolute;
    left:46%;
    top:43%;
    width: 120px;
    height: 120px;
    transition: 1s;
    z-index: 10;
}
.fly-button{
    position: absolute;
    width:100px;
    height: 40px;
    border-radius: 10px;
    background-color: #F5DEB3;
    left: 46%;
    top: 75%;
    font-family: titleText;
    transition: 0.5s;
}
.fly-button:hover{
    position: absolute;
    width:100px;
    height: 40px;
    border-radius: 10px;
    background-color: #bcab8b;
    left: 46%;
    top: 75%;
    transition: 0.5s;
    width: 110px;
    height: 44px;
}
.hidden-box{
    opacity: 0;
    transition: 1s;
    position: absolute;
    left: 55%;
    top: 30%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color:#F5DEB3;
}
.info-box{
    opacity: 1;
    transition: 1s;
    position: absolute;
    left: 55%;
    top: 30%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
    background-color:#F5DEB3;
}
.name{
    font-family: titleText;
}
.facts{
    font-family: bodyText;
}
.flag{
    width:300px;
    height:200px;

}