.background{
    overflow: hidden;
}
.canvas{
    position: absolute;
    transition: 3s;
    left: -1254px;
    top: -116px;
}
.canvas:hover{
    transition: 3s;
    left:px;
    top:px
}